<table class="table table-striped" *ngIf="emails">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" (click)="sortBy = 'userId'; reverseSort = !reverseSort">
      <a [routerLink]>userId<span>
            <app-sort-icon [show]="sortBy === 'userId'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

    <th scope="col" (click)="sortBy = 'contactId'; reverseSort = !reverseSort">
      <a [routerLink]>contactId<span>
            <app-sort-icon [show]="sortBy === 'contactId'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

    <th scope="col" (click)="sortBy = 'id'; reverseSort = !reverseSort">
      <a [routerLink]>id<span>
            <app-sort-icon [show]="sortBy === 'id'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

    <th scope="col" (click)="sortBy = 'email'; reverseSort = !reverseSort">
      <a [routerLink]>email<span>
            <app-sort-icon [show]="sortBy === 'email'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let email of emails | sortFilter: sortBy :reverseSort; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ email.userId }}</td>
    <td>{{ email.contactId }}</td>
    <td>{{ email.id }}</td>
    <td>{{ email.email}}</td>
  </tr>
  </tbody>
</table>
