<table class="table table-striped" *ngIf="recoveryToken">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" (click)="sortBy = 'userId'; reverseSort = !reverseSort">
      <a [routerLink]>userId
        <span>
            <app-sort-icon [show]="sortBy === 'userId'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

    <th scope="col" (click)="sortBy = 'token'; reverseSort = !reverseSort">
      <a [routerLink]>token
        <span>
            <app-sort-icon [show]="sortBy === 'token'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
      </a>
    </th>

    <th scope="col">...</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let token of recoveryToken | sortFilter: sortBy :reverseSort; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ token.userId }}</td>
    <td>{{ token.token }}</td>
    <td>
      <button class="btn btn-warning" (click)="removeToken(token.token)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
